html,
body,
input,
textarea,
li {
    font-family: 'Roboto', sans-serif;
    color: $paper-theme-text;
}
.paper-transparent {
    opacity: 0;
}
.paper-base {
    background-color: $md-grey-200;
}
.paper-reset {
    margin: 0 !important;
    padding: 0 !important;
}
.paper-theme {
    background-color: $paper-theme;
}
.paper-theme-col {
    color: $paper-theme !important;
}
.paper-theme-col-accent {
    color: $paper-theme-accent !important;
}
.paper-icon {
    background: none;
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    padding: 12px;
    margin: 0;
    border: none;
    border-radius: 50%;
    &:hover {
        background-color: rgba(0, 0, 0, .05) !important;
    }
    &:active {
        background-color: rgba(0, 0, 0, .2) !important;
    }
}
.paper-icon-popmenu {
    @extend .paper-icon;
    margin: 0 -10px 0 -4px;
    padding: 0 0 0 0;
}
.paper-fab {
    display: inline-block;
    position: relative;
    border: none;
    font-size: 1.5em;
    line-height: 1.5em;
    color: black;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: 10px;
    box-shadow: $paper-depth2;
    background-color: $paper-theme-icons;
    transition: 0.25s;
}
.paper-fab .paper-fab-content {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 56px;
    height: 56px;
    border: none;
    font-size: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .025);
    opacity: 0;
}
.paper-fab-s {
    @extend .paper-fab;
    width: 36px;
    height: 36px;
    background-color: $paper-theme-accent;
    position: absolute;
    right: 14px;
    bottom: -60px;
}
.paper-fab:hover {
    box-shadow: $paper-depth3;
}
.paper-fab .paper-fab-content:hover {
    opacity: 1;
}
.paper-card-list {
    margin: 16px 12px 12px 12px;
    display: block;
    clear: both;
    overflow: auto;
    background: $paper-theme-icons;
    border: 1px solid $paper-theme-divider;
    border-radius: 2px;
    box-shadow: $paper-depth1;
}
.paper-card-list-title {
    @include paper-typo-title();
    font-weight: $paper-weight-light !important;
    padding: 12px;
}
.paper-card-list-item {
    clear: both;
    @include paper-typo-body();
    padding: 12px;
    border: none;
    border-bottom: 1px solid $paper-theme-divider;
    overflow: auto;
    &:last-child {
        border: none;
    }
}
.paper-card-list-icon {
    float: left;
    margin: 6px 12px 0 0;
    color: $paper-theme;
}
.paper-card-list-content {
    float: left;
    display: block;
    margin: 0 0 0 0;
    width: calc(100% - 72px);
}
p.paper-card-list-sub {
    @include paper-typo-caption();
    margin: 0;
}
p.paper-card-list-text {
    @include paper-typo-body();
}
.paper-list {
    clear: both;
    margin: 0;
    padding: 0;
    overflow-y: auto !important;
    height: auto !important;
}
.paper-list-icon {
    color: $paper-theme;
}
.paper-list-item {
    clear: both;
    display: block;
    list-style-type: none;
    border-bottom: 1px solid $paper-theme-divider;
    margin: 0;
    padding: 14px 0 10px 8px;
    &:active {
        background-color: $md-grey-200;
    }
}
.paper-list-content {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 8px;
    overflow: hidden;
    max-width: 80%;
}
.paper-list-body {
    @include paper-typo-body2();
    margin: 0.25em 0 0 0;
    overflow: hidden;
    height: 21px;
}
.paper-list-caption {
    display: block;
    margin: 0;
    @include paper-typo-caption();
}
.paper-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px 4px 0 8px;
    background-color: $paper-theme;
}
.paper-search-input {
    width: calc(100vw - 108px);
    height: 27px !important;
    margin: 12px 0 0 0;
    padding: 0 4px 0 8px !important;
    background-color: $paper-theme;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    font-family: $paper-font;
    font-size: $paper-font-size-body;
    line-height: $paper-font-size-body;
    color: $paper-theme-icons !important;
    &:focus {
        border-bottom: none !important;
    }
}
input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: $paper-weight-regular;
    font-size: $paper-font-size-body;
    padding: 2px 0 0 28px;
    background-image: url(../images/icons/ic_search_white_36dp.png);
    background-repeat: no-repeat;
    background-position: 4px 0px;
    background-size: 18px 18px;
}
.paper-content {
    margin-top: 56px;
    overflow: hidden;
    overflow-y: overlay;
    height: calc(100vh - 56px);
}
.paper-content2 {
    margin-top: 56px;
    overflow: hidden;
    overflow-y: overlay;
    height: calc(100vh - 56px);
}
.paper-fold-2 {
    margin-top: 112px;
    height: calc(100vh - 112px);
}
.paper-fold-3 {
    margin-top: 112px;
    height: calc(100vh - 168px);
}
.paper-noscroll {
    overflow: hidden;
}
.paper-content::-webkit-scrollbar,
.paper-content2::-webkit-scrollbar {
    display: none;
    width: 14px;
    height: 18px;
    background-color: transparent;
}
.paper-content::-webkit-scrollbar-thumb,
.paper-content2::-webkit-scrollbar-thumb {
    height: 6px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.125);
    
}
.paper-content::-webkit-scrollbar-button,
.paper-content2::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.paper-content::-webkit-scrollbar-corner,
.paper-content2::-webkit-scrollbar-corner {
    background-color: transparent;
}
.paper-content::-webkit-scrollbar {
    display: block;
}
