// *** paper navigation
.paper-lightbox {
    z-index: -2;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 100%;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: 0.2s;
}
.paper-lightbox-on {
    display: block;
    opacity: 1;
    z-index: 2;
}
.paper-header {
    z-index: 1;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    box-shadow: $paper-depth2;
    background-color: $paper-theme;
}
.paper-header-lg {
    @extend .paper-header;
    height: 112px;
    overflow: hidden;
}
.paper-toolbar {
    height: 56px;
    margin: 0;
    padding: 4px 8px 4px 8px;
}
.paper-toolbar-title {
    display: inline-block;
    width: auto;
    max-width: 80vw;
    height: 48px;
    margin: 0 0 0 0px;
    color: #fff;
    @include paper-typo-title();
    line-height: 25px;
    padding: 12px 12px 12px 12px;
}

.paper-toolbar-title-lg {
@extend .paper-toolbar-title;
padding-top: 5px;
}

.paper-toolbar-title-sub {
    @include paper-typo-caption();
    display: block;
    color: rgba(255,255,255,.5);
    padding: 0;
    margin: 0 0 0 0;
    line-height: 1em;
}
.paper-toolbar-breadcrumbs {
    display: inline-block;
    @include paper-typo-caption();
    color: rgba(255, 255, 255, .75);
    margin: 8px 48px 8px 64px;
    padding: 0;
    width: calc(100vw - 86px);
    height: 40px;
    overflow: hidden;
}
.paper-tabs {
    margin: 0 0 0 0;
    padding: 24px 0 0 60px;
    height: 56px;
    width: 100%;
}
.paper-tab {
    display: inline-block;
    margin: 0;
    padding: 0 $paper-font-size-body 10px $paper-font-size-body;
    @include paper-typo-tab();
    color: rgba(255, 255, 255, .5);
    font-family: $paper-font;
    cursor: pointer;
}
.paper-tab:hover,
.paper-tab-active {
    color: $paper-theme-icons;
}
.paper-tab-active {
    color: $paper-theme-icons;
    border-bottom: 2px solid $paper-theme-accent;
}
// ********************** 
// *** paper drawer
// ********************** 
.paper-drawer {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: -240px;
    width: 256px;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: $paper-theme-icons;
    box-shadow: $paper-depth3;
    // transform: translate(-295px, 0);
    transition: 0.2s cubic-bezier(.17, .67, .79, .96) all;
    opacity: 0.01;
}
.paper-drawer.paper-drawer-ani {
    transform: translate(240px, 0);
    opacity: 1;
}
.paper-drawer-header {
    position: relative;
    overflow: auto;
    height: 168px;
    margin: 0 0 12px 0;
    padding: 4px 8px 3px 8px;
    background-color: $paper-theme;
    background-image: url(../images/navdrawer-bg.png);
    background-repeat: no-repeat;
    background-position: -64px -64px;
    @include paper-typo-title;
}
.paper-drawer-items {
    margin: 0;
    padding: 0;
    clear: both;
}
.paper-drawer-title {
    position: absolute;
    bottom: 16px;
    left: 16px;
    @include paper-typo-title;
    color: $paper-theme-icons;
    font-size: $paper-font-size-display1;
}
.paper-drawer-title:hover {
    background-color: none;
}
.paper-drawer-item {
    margin: 0;
    padding: 0 12px 0 6px;
    clear: both;
    overflow: auto;
    cursor: pointer;
    &:hover {
        background-color: $paper-theme-hover;
    }
}
.paper-drawer-item-divider {
    width: 100%;
    @extend .paper-drawer-item;
    border-top: 1px solid $paper-theme-divider;
}
.paper-drawer-item-icon {
    height: auto;
    float: left;
    color: $paper-theme-text-2;
}
.paper-drawer-item-icon.paper-icon:hover {
    background: none !important;
}
.paper-drawer-item-text {
    float: left;
    margin: 0;
    padding: 12px 12px 12px 6px;
    @include paper-typo-body2;
    font-size: $paper-font-size-tabs;
    color: $paper-theme-text;
}
.paper-popup {
    z-index: 4;
    display: block;
    width: 200px;
    height: auto;
    overflow: auto;
    transform: scale(0, 0);
    transform-origin: 100% 0%;
    position: absolute;
    right: 12px;
    top: 16px;
    padding: 8px;
    border-radius: 2px;
    box-shadow: $paper-depth2;
    background-color: $md-grey-100;
    opacity: 0;
    transition: 0.25s;
}
.paper-popup-ani {
    display: block;
    transform: scale(1, 1);
    opacity: 1;
}
.paper-popup-items {
    margin: 0;
    padding: 0;
}
.paper-popup-title {
    @include paper-typo-body2;
    padding: 12px 16px 8px 16px;
}
.paper-popup-item {
    @include paper-typo-body;
    padding: 12px 8px 12px 16px;
    transition: 0.25s;
    cursor: pointer;
    &:active {
        background-color: $md-grey-200;
    }
}
