.map-infos {
    margin: 0 0 0 0;
    padding: 0 0 6px 0;
    overflow: auto;
}
.map-container {
    position: relative;
    height: calc(100vh - 56px);
    width: 100vw;
}
.angular-google-map-container {
    display: block;
    overflow: hidden;
    margin: 0 0 0 0;
    height: calc(100vh - 112px);
    width: 100vw;
}
.track-chart {
    height: 316px;
    overflow: hidden;
}
.map-fabs {
    z-index: 9999;
    margin: 4px;
    width: 80px;
    height: auto;
    position: absolute;
    bottom: 72px;
    right: 0;
    background: none;
}
.map-footer {
    height: 56px;
    padding: 0 0 0 0;
    background-color: $md-white;
    overflow: hidden;
    width: 100vw;
    text-align: center;
    border-bottom: 1px solid $md-grey-300;
}
.map-footer-items {
    display: block;
    width: auto;
    transition: 0.2s cubic-bezier(.17, .67, .79, .96) all;
    padding: 6px 0 0 0;
}
// map compactinfos
.map-footer-item {
    display: inline-block;
    min-width: 28%;
    text-align: center;
}
.map-footer-item-content {
    display: inline-block;
    width: auto;
    text-align: center;
}
.map-footer-item span {
    padding: 0 0 0 0;
    color: $paper-theme-text-2;
    font-size: $paper-font-size-small;
    display: inline-block;
}
.map-footer-item i {
    display: inline-block;
    font-size: $paper-font-size-caption;
    color: $paper-theme-text;
    margin: 0 8px 0 0;
}
.map-footer-ani {
    transform: translate(-120px, 0);
}
.map-card-col {
    display: inline-block;
    width: auto;
    @media screen and (max-width: 440px) {
        display: block;
        width: 100%;
    }
}
.push-right {
    float: right;
}
.push-left {
    float: left;
}
.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    /* For mozilla support */
    
    -webkit-transform: translateY(-50%);
    /* For safari support */
    
    -ms-transform: translateY(-50%);
    /* For IE support */
    
    -o-transform: translateY(-50%);
    /* For opera support */
}
.laps-table {
    font-weight: $paper-weight-medium;
    padding: 8px 0 0 0;
}
.laps-table-col {
    display: inline-block;
    width: 100%;
    max-width: 15%;
    text-align: center;
    padding: 6px 0 6px 16px;
    margin: 0 0 0 0;
}
.laps-table-km {
    @extend .laps-table-col;
    width: 100%;
    max-width: 15%;
}
.laps-table-pace {
    @extend .laps-table-col;
    width: 100%;
    max-width: 40%;
}
.laps-table-speed {
    @extend .laps-table-pace;
}
.laps-step {
    border-top: 1px solid $paper-theme-divider;
    padding-top: 1px;
}
.tracks-fab {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: $paper-theme-accent;
    color: $md-white;
}
