.tabTrackdetails {
    padding-top: 0;
    overflow: auto;
}
#map_canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
}
#map_canvas img {
    max-width: 100vw;
    width: 100vw;
}
.angular-google-map-container {
    margin: 0 0 0 0;
    height: calc(100vh - 168px);
    width: 100vw;
}
.track-chart {
    height: 300px;
    overflow: hidden;
}
.map-fabs {
    z-index: 9999;
    margin: 4px;
    width: 80px;
    height: auto;
    position: absolute;
    bottom: 76px;
    right: 0px;
    background: none;
}

.push-right {
    float: right;
    font-weight: $paper-weight-medium;
}



.laps-table {
    font-weight: $paper-weight-medium;
    padding: 8px 0 0 0;
}
.laps-table-col {
    display: inline-block;
    width: 100%;
    max-width: 15%;
    text-align: center;
    padding: 6px 0 6px 16px;
    margin: 0 0 0 0;
}
.laps-table-km {
    @extend .laps-table-col;
    width: 100%;
    max-width: 15%;
}
.laps-table-pace {
    @extend .laps-table-col;
    width: 100%;
    max-width: 40%;
}
.laps-table-speed {
    @extend .laps-table-pace;
}
.laps-step {
    border-top: 1px solid $paper-theme-divider;
    padding-top: 1px;
}
