<div class="paper-header">
    <div class="paper-toolbar">
        <button class="md-col-white md md-arrow-back paper-icon" ng-click="loadPrevious();"></button>
        <h1 class="paper-toolbar-title">GPXer</h1>
    </div>
</div>

<div class="paper-content paper-fold">

    <div class="paper-card-list">
        <div class="paper-card-list-title">GPXer</div>

        <div class="paper-card-list-item">
            <div class="paper-card-list-content">
                <p class="paper-card-list-sub">Version 0.5.0</p>
                <p class="paper-card-list-text">(c) Lars Kroll 2015</p>
            </div>
        </div>
    </div>
</div>

</div>
