<header class="paper-header-lg paper-col-light">
    <div class="paper-toolbar">

        <button class="paper-col-light md md-menu paper-icon" ng-hide="$parent.folderHistory.length > 1" ng-click="showPaperDrawer();"></button>
        <button class="paper-col-light md md-arrow-back paper-icon" ng-show="$parent.folderHistory.length > 1" ng-click="gdLoadParent();"></button>

        <h1 class="paper-toolbar-title">{{ tracksTitle}}
 
        </h1>

        <button class="paper-col-light md md-more-vert paper-icon-popmenu pull-right " ng-click="togglePaperPopup($event)"></button>
        <button class="paper-icon pull-right" ng-class="{ 'md-star paper-col-accent' : gdFavorite,  'md-star-outline paper-col-light' : !gdFavorite }" ng-click="toggleFavorite()"></button>
        <button class="paper-col-light md md-search paper-icon pull-right" ng-hide="tracksSearch" ng-click="setFocus();"></button>

        <div class="paper-search" ng-show="tracksSearch">
            <button class="paper-col-light md md-close paper-icon pull-right" ng-class="{'paper-transparent':!filesQuery }" ng-click="filesQuery='';"></button>
            <input type="text" placeholder="Nach Strecken suchen" ng-model="filesQuery" ng-show="tracksSearch" id="inputSearch" class="paper-search-input pull-right">
            <button class="paper-col-light md md-arrow-back paper-icon pull-left" ng-click="tracksSearch=!tracksSearch;filesQuery='';"></button>
        </div>

        <h2 class="paper-toolbar-breadcrumbs">
        <span ng-click="gdLoadTracks(historyItem);" ng-repeat="historyItem in $parent.folderHistory" ng-if="!$first || $parent.folderHistory.length == 1 ">
        {{ historyItem.filename }}<i ng-if="!$last" class="md md-chevron-right"></i></span>

        </h2>
    </div>
</header>

<div class="paper-content paper-fold-2">


    <ul class="paper-list">
        <li class="paper-list-item" ng-show="tracks.length == 0">
            <div class="paper-list-content">
                <p class="paper-list-body">Keine Einträge gefunden</p>
                <p class="paper-list-caption"></p>
            </div>
        </li>
        <li class="paper-list-item" ng-repeat="track in tracks | orderBy:filesOrder:reverse | filter : filesQuery | limitTo:500" ng-click="gdLoadTracks(track);">
            <i class="md {{ track.fileicon }} paper-icon paper-list-icon  pull-left"></i>
            <div class="paper-list-content">
                <p class="paper-list-body">{{ track.filename }}</p>
                <p class="paper-list-caption">{{ track.filedate | date : 'dd.MM.yyyy HH:mm:ss' : timezone }} {{ track.filesize }}</p>
            </div>
            <li>
    </ul>

    <button ng-click="loadFavorite();" class="paper-fab md  tracks-fab" ng-class="{ 'md-star' : gpxerFavorite, 'md-star-outline' : !gpxerFavorite }"><span class="paper-fab-content"></span>
    </button>
</div>






<div class="paper-popup" ng-class="{'paper-popup-ani':paperOver}">
    <ul class="paper-popup-items">
        <li class="paper-popup-title">Sortieren nach</li>
        <li class="paper-popup-item" ng-click="sortTracks('filename');">Dateiname</li>
        <li class="paper-popup-item" ng-click="sortTracks('timestamp');">Datum</li>
        <li class="paper-popup-item" ng-click="sortTracks('filesize');">Dateigröße</li>
    </ul>
</div>


<div class="paper-lightbox" ng-class="{'paper-lightbox-on':paperOver}" ng-click="paperOver=false;"></div>
