<div class="map-infos paper-base">





    <div class="paper-card-list">
        <div class="paper-card-list-title">Allgemein</div>

        <div class="paper-card-list-item">
            <i class="md-lg md-swap-calls padding paper-card-list-icon"></i>
            <div class="paper-card-list-content">
                <p class="paper-card-list-sub">Punkte</p>
                <p class="paper-card-list-text">{{ gpxPointsLen }}</p>
            </div>
        </div>

        <div class="paper-card-list-item">
            <i class="md-lg md-access-time padding paper-card-list-icon"></i>
            <div class="paper-card-list-content">
                <div class="map-card-col push-left">
                    <p class="paper-card-list-sub">Startzeit</p>
                    <p class="paper-card-list-text">{{ gpxStart | date:"dd.MM.yyyy', HH:mm" }}</p>
                </div>
                <div class="map-card-col push-right">
                    <p class="paper-card-list-sub">Endzeit</p>
                    <p class="paper-card-list-text">{{ gpxEnde | date:"dd.MM.yyyy', ' HH:mm" }}</p>
                </div>
            </div>
        </div>

    </div>




    <div class="paper-card-list track-chart">
        <div class="paper-card-list-title">Höhenprofil
            <p class="paper-typo-caption">Differenz {{ gpxMaxHeight - gpxMinHeight }} m</p>
        </div>

        <div google-chart chart="chartObject" style="{{ cssStyle }}"></div>

    </div>


    <div class="paper-card-list track-lapinfos">
        <div class="paper-card-list-title">Zwischenzeiten</div>

        <div class="laps-table">
            <div class="laps-table-km">Km</div>
            <div class="laps-table-pace">Pace&nbsp;min/Km</div>
            <div class="laps-table-speed">Tempo&nbsp;Km/H</div>
        </div>

        <div class="laps" ng-repeat="stepPace in gpxPaces" ng-class="{ 'laps-step' : !($index % 5) }">

            <div class="laps-table-km">{{ stepPace.km }}</div>
            <div class="laps-table-pace">{{ stepPace.pace | date:"m.ss" }}</div>
            <div class="laps-table-speed">{{ stepPace.speed }}</div>

        </div>

    </div>




    <div class="paper-card-list">
        <div class="paper-card-list-title">Metadaten</div>

        <div class="paper-card-list-item">
            <i class="md-lg  md-description padding paper-card-list-icon"></i>
            <div class="paper-card-list-content">
                <p class="paper-card-list-sub">Beschreibung</p>
                <p class="paper-card-list-text">{{ gpxMetadata.desc }}</p>
            </div>
        </div>


        <div class="paper-card-list-item">
            <div class="paper-card-list-content">
                <p class="paper-card-list-sub">Datum</p>
                <p class="paper-card-list-text">{{ gpxMetadata.time | date:"dd.MM.yyyy 'um' HH:mm" }}</p>
            </div>
        </div>


    </div>

</div>
