<div class="paper-header">
    <div class="paper-toolbar">
        <button class="md md-menu paper-icon"  ng-click="showPaperDrawer();"></button>
        <h1 class="paper-toolbar-title">Strecken ({{ fileSource }})</h1>
        
        <button class="md-col-white md md-more-vert paper-icon pull-right" ng-click="openPopover($event)"></button>
        <button class="md-col-white md md-search paper-icon pull-right" ng-hide="tracksSearch" ng-click="tracksSearch=!tracksSearch;"></button>

        <div class="paper-search" ng-show="tracksSearch">
            <button class="md-col-white md md-close paper-icon pull-right"   ng-class="{'paper-transparent':!filesQuery }" ng-click="filesQuery='';"></button>
            <input type="text" placeholder="Nach Strecken suchen" ng-model="filesQuery" ng-show="tracksSearch" id="inputSearch" class="paper-search-input pull-right">
            <button class="md-col-white md md-arrow-back paper-icon pull-left" ng-click="tracksSearch=!tracksSearch;filesQuery='';"></button>
        </div>
    </div>
</div>

<div class="paper-content">

    <ul class="paper-list">

        <li class="paper-list-item" ng-repeat="track in tracks | orderBy:filesOrder:reverse | filter : filesQuery">
            <a ng-click="loadTrack(track.filename);">

                <i class="md md-place paper-icon paper-list-icon  pull-left"></i>
                <div class="paper-list-content">
                    <p class="paper-list-body">{{ track.filename }}</p>
                    <p class="paper-list-caption">{{ track.filedate }} {{ track.filesize }}</p>
                </div>
            </a>
            <li>
    </ul>


</div>




<script id="tracks-menu.html" type="text/ng-template">
    <ion-popover-view>
        <ul class="list">
            <li class="item item-divider">Sortieren nach</li>
            <li class="item" ng-click="popover.scope.sortTracks('filename');">Dateiname</li>
            <li class="item" ng-click="popover.scope.sortTracks('timestamp');">Datum</li>
            <li class="item" ng-click="popover.scope.sortTracks('filesize');">Dateigröße</li>
        </ul>
    </ion-popover-view>
</script>
